.footer {
  background-color: #97dfff;
  &_logo {
    margin-bottom: rem(20);
  }

  &__container {
    padding-top: rem(40);
    padding-bottom: rem(20);
  }

  &__columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: rem(20);
    column-gap: rem(20);
    margin-bottom: rem(20);
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__text {
    max-width: rem(215);
    color: #232323;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 400;
  }

  &__column-title {
    color: #0071b7;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 700;
    margin-bottom: rem(25);
  }

  &__contacts {
  }

  &__contact {
  }

  &__contact-title {
    @extend .footer__text;
    font-weight: 500;
  }

  &__menu {
  }

  &__menu-list {
  }

  &__menu-list-item {
  }

  &__menu-list-link {
    line-height: 25px;
  }

  &__sub-columns {
    display: flex;
    justify-content: space-between;
    column-gap: rem(50);
  }

  &__sub-column {
  }

  &__button {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 700;
    text-transform: uppercase;
    border-width: 1px;
    border-radius: 6px;
    background-color: #0071b7;
    background-position: center center;
    border-color: #42b3e5;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    padding: rem(15);
    width: 100%;
    margin-top: auto;
    @media(max-width:$tablet){
      margin-top: rem(20);
    }

    &:hover{
      background-color: #fff;
      color: #0071b7;
    }
  }
    &__social {
      display: flex;
      align-items: center;
      @include adaptiveValue("column-gap", 20, 5);
    }

    &__social-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(10);
      border: 1px solid #42B3E5;
      border-radius: 50%;
    }
}

